<div class="container">
<span style="color:red;">{{errorMsg}}</span>
<form>

<div class="form-group">
Enter JobTitle::
<input type="text" ng-model="job.jobTitle" class="form-control">
</div>

<div class="form-group">
Enter Job Description::
<textarea rows="3" cols="20" ng-model="job.jobDescription"></textarea>
</div>

<div class="form-group">
Enter Skills::
<input type="text" ng-model="job.skillRequired" class="form-control">
</div>

<div class="form-group">
Enter Salary::
<input type="text" ng-model="job.salary" class="form-control">
</div>

<div class="form-group">
Enter Location::
<input type="text" ng-model="job.location" class="form-control">
</div>

<div class="form-group">
Enter Company Name::
<input type="text" ng-model="job.companyName" class="form-control">
</div>

<input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="POST" ng-click="addJob()">
</form>
</div>