<span style="color:red" ng-if="error.code==1">{{error.message}}</span>
<div class="container">
<form>
<div class="form-group">
UserId:<input type="text" ng-model="users.userid" class="form-control">
<span style="color:red" ng-if="error.code==2">{{error.message}}</span>
</div>
<div class="form-group">
Password:<input type="password" ng-model="users.password" class="form-control">
</div>
<div class="form-group">
Firstname:<input type="text" ng-model="users.firstName" class="form-control">
</div>
<div class="form-group">
Lastname:<input type="text" ng-model="users.lastName" class="form-control">
</div>
<div class="form-group">
EmailId:<input type="text" ng-model="users.email" class="form-control">
<span style="color:red" ng-if="error.code==3">{{error.message}}</span>
</div>
<div class="form-group">
Phone No:<input type="text" ng-model="users.phoneNo" class="form-control">
</div>
<div class="form-group">
Select Role:<input type="radio" ng-model="users.role" value="STUDENT" class="form-control">Student
<input type="radio" ng-model="users.role" value="EMPLOYEE" class="form-control">Employee
<input type="radio" ng-model="users.role" value="ALUMNI" class="form-control">Alumni
</div>
<input type="submit" role="button" value="Register" ng-click="createUsers()"> 
</form>

</div>